<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="ctrl.js"></script>

</head>
<body ng-app="App">

	<div ng-controller="tripCtrl">
		
        Position
		<form>
            <input type="radio" ng-model="position" value="FA" ng-checked>FA<br>
            <input type="radio" ng-model="position" value="FB">FB<br>
            <input type="radio" ng-model="position" value="FC">FC<br>
            <input type="radio" ng-model="position" value="FD">FD<br>
            <input type="radio" ng-model="position" value="FE">FE<br>
            <input type="radio" ng-model="position" value="FF">FF<br><br>

        Bonus
        <form >
            (between 0 and 200):
            <input ng-model="bonusMin" type="number" name="bonusMin" min="0" max="200">
            <input ng-model="bonusMax" type="number" name="bonusMax" min="0" max="200">
        </form><br>

        Base
            <select ng-model="base">
                <option value="SEA">SEA</option>
                <option value="ANC">ANC</option>
                <option value="PDX">PDX</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select><br><br>

        <button type="button" ng-click="search()">Search Trips</button><br>
        </form>

        <ul ng-repeat="result in results">        	
			<li>Base--{{result.base}}</li>			
			<li>Dates--{{result.dates}}</li>
			<li>Trip Type--{{result.tripType}}</li>
			<li>Report Time--{{result.reportTime}}</li>
			<li>Release Time--{{result.releaseTime}}</li>
			<li>Destination--{{result.destination}}</li>
			<li>Layover Lenght--{{result.layoverLength}}</li>
			<li>Position--{{result.position}}</li>
			<li>TFP--{{result.tfp}}</li>
			<li>$Bonus$--{{result.bonus}}</li>
			<li>Days--{{result.days}}</li>
			<li>Posted by--{{result.postedBy}}</li>
			<li>Comment--{{result.comment}}</li>
		</ul>

	</div>

</body>
</html>