<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="ctrl.js"></script>

</head>
<body ng-app="App">

	<div ng-controller="tripCtrl">
		
        Position
		<form>
            <input type="radio" ng-model="position" value="FA" ng-checked>FA<br>
            <input type="radio" ng-model="position" value="FB">FB<br>
            <input type="radio" ng-model="position" value="FC">FC<br>
            <input type="radio" ng-model="position" value="FD">FD<br>
            <input type="radio" ng-model="position" value="FE">FE<br>
            <input type="radio" ng-model="position" value="FF">FF<br><br>

        <!--Bonus
        <form ng-model="bonus">
            Minimum Bonus (between 0 and 200):
            <input type="number" name="bonus" min="0" max="200">
        </form><br>-->

        Base
            <select ng-model="base">
                <option value="SEA">SEA</option>
                <option value="ANC">ANC</option>
                <option value="PDX">PDX</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select><br><br>

        <a href="details.html"><button type="button" ng-click="search()">Search Trips</button></a><br>
        </form>

        <h1>{{position}}</h1>
        <h1>{{base}}</h1><br>

        <ul ng-repeat="trip in trips | filter:position | filter:base">
			<li>{{trip.base}}</li>
			<li>{{trip.dates}}</li>
			<li>{{trip.tripType}}</li>
			<li>{{trip.reportTime}}</li>
			<li>{{trip.releaseTime}}</li>
			<li>{{trip.destination}}</li>
			<li>{{trip.layoverLength}}</li>
			<li>{{trip.position}}</li>
			<li>{{trip.tfp}}</li>
			<li>{{trip.bonus}}</li>
			<li>{{trip.days}}</li>
			<li>{{trip.postedBy}}</li>
			<li>{{trip.comment}}</li>
		</ul>

	</div>

</body>
</html>